RADARR_API_KEY=
RADARR_URL=https://radarr.example.com

SONARR_API_KEY=
SONARR_URL=https://sonarr.example.com

LIDARR_API_KEY=
LIDARR_URL=https://lidarr.example.com

READARR_API_KEY=
READARR_URL=https://readarr.example.com

SLEEP_TIMER=3600
